
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#map {
    width: 450px;
    height: 450px;
}

.admin-dropdown {
    padding: 15px 15px;
    display: block;
    cursor: pointer;
}

.admin-dropdown {
    color: #999999;
}

.admin-dropdown:hover {
    color: #ffffff;
    text-decoration: none;
}

.open .admin-dropdown, .open .admin-dropdown:hover {
    color: #222222;
    text-decoration: none;
}

.nav .dropdown span.caret {
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.nav .dropdown.open span.caret, .nav .dropdown span.caret:hover {
    border-top-color: #222222;
    border-bottom-color: #222222;
}