@{
    ViewBag.Title = "Home Page";
}
<div class="row">
@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello!</h1>
        <p>Have you evere wanted to play tennis but don't have friends who like this sport?</p>
        <p>Have you ever played a football match 5 vs. 6?</p>
        <p>If so, here is appalication which help you make your sport plans real.</p>
        <br />
        <br />
        <p>EnjoySports allow you to create events and invite people to participate them. You can also browse already created events and join them.</p>
    </div>
}
else
{
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello!</h1>
        <h3>Please login or create new account to see all features of application.</h3>
        <p>Have fun!</p>
    </div>
}
</div>